.numButton{
  height: 70px;
  width: 200px;
  padding: 10px;
  background: var(--muted-teal);
  border: none;
  border-radius: 10px;
  font-size: 2.5em;
  font-family: Public Sans, sans-serif;
}

.numButton:hover{
  background: var(--ash-grey);
  cursor: pointer;
  scale: 1.05;
  transition: all 0.1s ease-in-out;
}

.numButton:active{
  background: var(--deep-teal);
  color: var(--ash-grey);
  scale: 0.95;
  transition: all 0.1s ease-in-out;
}