#sideFeatureDiv{
    background: var(--dark-slate-grey);
    font-family: Public Sans, sans-serif;
    width: 400px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.feature{
    height: 50px;
}