*{
  padding: 0;
  margin: 0;
}

#numButtons{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  font-family: Public Sans, sans-serif;
  color: var(--muted-teal);
}

#allNumButtons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

body{
  background: var(--deep-teal);
  font-family: Public Sans, sans-serif;
}

#calcNumDiv{
  position: absolute;
  top: 50px;
  right: 455px;
  color: var(--ash-grey);
  font-size: 3em;
}

#equalOperator{
  background: var(--dark-slate-grey);
  color: var(--ash-grey);
}

#part2{
  display: grid;
  grid-template-columns: repeat(3, 130px);
  gap: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#part2-button{
  background-color: var(--dark-slate-grey);
}