:root{
  --ash-grey: #cad2c5;
  --muted-teal: #84a98c;
  --deep-teal: #52796f;
  --dark-slate-grey: #354f52;
  --charcoal-blue: #2f3e46;
}

#sideFeatureDiv{
    background: var(--deep-teal);
    font-family: Public Sans, sans-serif;
    width: 400px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
}